#edit {
    margin-top: 11.5rem;

    h1 {
        font-size: 4em;
    }

    input {
        font-size: 1.8em;
    }

    textarea {
        font-size: 1.8em;
    }

    select {
        font-size: 1.8em;
    }


}