#all-riddles {

    button.button {
        margin-top: 5rem;
    }

    div.all-riddles {
        padding-top: 0 !important;
    }

    

    h5.card-title {
        color: #FFCF40 !important;
    }
}

button.button {
    margin-top: 3rem;
}